# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: XmchxUp
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Shanghai
          plugin_followup: yes
          plugin_followup_archived: yes
          plugin_followup_sections: user
          plugin_followup_indepth: yes
          plugin_people: yes
          plugin_people_limit: 24
          plugin_people_size: 28
          plugin_people_types: followers, following
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_visibility: all
          plugin_activity_skipped: XmchxUp, Notes, picx-images-hosting, cloudimg
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_notable: yes
          plugin_notable_from: organization
          # plugin_notable_repositories: yes
          plugin_notable_skipped: epfl-ada/ada-2022-project-superplainteamname2022, pixelsdb/pixels, pixelsdb/pixels-trino, engula/engula, ericon-io/comments, ixxchan/.github, ixxchan/peerster, beyondstorage/site, beyondstorage/community, logseq/marketplace, facebookarchive/cargo-guppy
          plugin_notable_types: commit, pull_request, issue
